@model Orders.ViewModels.OrderItem.OrderItemViewModel
@{
    ViewData["Title"] = "DetailsOrderItem";
}

<br />
<div class="card border-dark mb-6">
    <div class="card-header">
        <div class="span4">
            Предмет: @Model.Name
        </div>
    </div>
    <div class="card-body text-dark">
        <table class="table table-hover">
            <tbody>
                <tr>
                    <th scope="row">Номер заказа</th>
                    <td>@Model.OrderNumber</td>
                </tr>
                <tr>
                    <th scope="row">Количество/Едениц</th>
                    <td>@Model.Quantity / @Model.Unit</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="card-footer">
        <button onclick="location.href='@Url.Action("Index", "Orders")'" class="btn-outline-dark">Вернутся</button>
        <button onclick="location.href='@Url.Action("EditOrderItems", "Orders", new { id = Model.Id })'" class="btn-outline-warning">Редактировать</button>
        <button onclick="location.href='@Url.Action("DeleteOrderItem", "Orders", new { id = Model.Id })'" class="btn-outline-danger">Удалить</button>
    </div>
</div>

