@model IEnumerable<Orders.ViewModels.Orders.OrderTableViewModel>
@{
    ViewData["Title"] = "Index";
}
<h1>Заказы</h1>

<form asp-action="index" method="get">
    <div class="row">
        <div class="col-3">
            <label class="control-label">Номер заказа</label>
            <select multiple name="Number" asp-items="ViewBag.SelectNumber" class="selectpicker"></select>
        </div>
        <div class="col-3">
            <label class="control-label">Поставщик</label>
            <select multiple name="ProviderName" asp-items="ViewBag.SelectProviderName" class="selectpicker"></select>
        </div>
        <div class="col-3">
            <label class="control-label">Название продукта</label>
            <select multiple name="Name" asp-items="ViewBag.SelectProductsName" class="selectpicker"></select>
        </div>
        <div class="col-3">
            <label class="control-label">Единица измерения</label>
            <select multiple name="Unit" asp-items="ViewBag.SelectProductunit" class="selectpicker"></select>
        </div>
        <br />
        <div class="col-1 align-self-lg-center">
            <input type="submit" value="применить" />
        </div>
    </div>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                Номер
            </th>
            <th>
                Дата
            </th>
            <th>
                Поставщик
            </th>
            <th>
                Название заказа
            </th>
            <th>
                Количество
            </th>
            <th>
                Единица измерения
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a asp-action="DetailsOrder" asp-route-id="@item.OrderId">@Html.DisplayFor(modelItem => item.Number)</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProviderName)
                </td>
                <td>
                    <a asp-action="DetailsOrderItem" asp-route-id="@item.OrderItemId">@Html.DisplayFor(modelItem => item.Name)</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Unit)
                </td>
                <td>
                    <a asp-action="DeleteOrderItem" asp-route-id="@item.OrderItemId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>