@model IEnumerable<Orders.ViewModels.Orders.OrderTableViewModel>
@{
    ViewData["Title"] = "Index";
}
<h1>Заказы</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Номер
            </th>
            <th>
                Дата
            </th>
            <th>
                Поставщик
            </th>
            <th>
                Название заказа
            </th>
            <th>
                Количество
            </th>
            <th>
                Еденица измерения
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                <a asp-action="OrderDetails" asp-route-id="@item.OrderId">@Html.DisplayFor(modelItem => item.Number)</a> 
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProviderName)
            </td>
            <td>
                <a asp-action="OrderItemDetails" asp-route-id="@item.OrderItemId">@Html.DisplayFor(modelItem => item.Name)</a>
</td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Unit)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.OrderId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.OrderId">Details</a> |
                <a asp-action="DeleteOrderItem" asp-route-id="@item.OrderItemId">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>